/*
CISC 340 Project 2
Team 6

CSS Style Sheet
*/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
    text-align: center;
	font-size: 50px;
	color: white;
	background-image: url("bg.jpg");
}

h1{
	font-size: 70pt;
	color: white;
	padding-bottom:50px;
	padding-top:100px;
}

#motion{
	font-size:50px;
}

.button{
	width: 450px;
	color: black;
}

.main-content {
  	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: flex-start;
	flex-wrap: wrap;
}

.column {
	width: 50%;
	text-align: center;

}

.log {
	font-family: "Courier New", Courier, monospace;
	font-size: 12pt;
	color: black;

	width: 100%;
	padding: 5px;

}